<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>خانه</title>
</head>
<body class="bg-sky-300 flex items-center justify-center min-h-screen">
    <div class="bg-white rounded-lg shadow-lg p-8 w-96">
        <h2 class="text-2xl font-semibold text-center mb-6">خوش آمدید!</h2>
        <div class="flex justify-between mb-4">
            <a href="{% url 'add_contact' %}" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600">اضافه کردن</a>
            <a href="{% url 'view_contacts' %}" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600">نمایش شماره‌ها</a>
        </div>
        <p class="text-center">برای خروج، لطفاً روی <a href="{% url 'logout' %}" class="text-blue-500">اینجا کلیک کنید</a>.</p>
    </div>
</body>
</html>
